<ul id="navigation-bar">
    <li>
        <a href="/posts">
            <img id='navbar-logo' src="/assets/logo.png">
        </a>
    </li>
    <li>
        <form method="GET" action="/posts/search">
            <i class="fa fa-search" aria-hidden="true"></i>
            <input type="hidden" name="page" value="0">
            <input id="search-bar" type="text" placeholder="Search" name="subject"></input>
        </form>
    </li>
    <li>
        <form method="GET" action="/login">
            <input type="hidden">
            <button id="logout-button" type="submit">logout</button>
        </form>
    </li>   
</ul>