{{!-- {{#each post}} --}}
    <div id="post-1" class="post">
        <a href="/profile/{{this.userId}}">
            <img class="post-image" src="https://randomuser.me/api/portraits/med/men/1.jpg">
        </a>
        <div class="indent-container">
            <div class="post-header">
                <p class="subject">User settings deleted</p>
                <p class="topic">nodejs</p>
            </div>
            <div class="indent-container">
                <div class="post-body">
                    <p>After I logged into my node app, I saw that settings were deleted after I restarted my server. I had installed nodemon then it had...</p>
                </div>
                <div class="post-footer">
                    <p class="date">25 Oct 2020</p>
                    <p class="numReplies" onclick="toggleReplies(1)">1 replies</p>
                </div>
            </div>
        </div>
    </div>
    <div id="reply-container-1" class="reply-container">
        {{>replyPartial}}
        <div class="comment-container">
            <form method="POST" action="/reply">
                <input class="comment-box" type="text" name="body" placeholder="Add your reply here...">
                <input type="hidden" name="postId" value="{{this.postId}}">
                <input type="hidden" name="userId" value="">
                <button class="comment-button" type="submit">comment</button>
            </form>
        </div>
    </div>
{{!-- {{/each}} --}}
<div id="next-container">
    <button id="next" onclick="window.location.href = '/next';">Next -></button>
</div>
