<div id="post-container">
    {{!-- {{#each post}} --}}
        <div class="post" id="{{this.postId}}">
            <img class="user-image" src="https://randomuser.me/api/portraits/med/men/1.jpg">
            <div class="post-content">
                <div class="post-header">
                    <p class="subject">User settings deleted</p>
                    <p class="topic">nodejs</p>
                </div>
                <div class="post-body">
                    <p>After I logged into my node app, I saw that settings were deleted after I restarted my server. I had installed nodemon then it had...</p>
                </div>
                <div class="post-footer">
                    <p>Oct 25 2020</p>
                    <p>5 replies</p>
                </div>
            </div>
            
        </div>
    {{!-- {{/each}} --}}
</div>