{{#each this.reply}}
    <div class="reply" id="reply-{{this.replyid}}">
        <a href="/profile/{{this.userid}}">
            <img class="reply-image" src="{{this.imageurl}}">
        </a>
        <div class="reply-body">
            <p>{{this.body}}</p>
        </div>
    </div>
{{/each}}