<div id="reply-container">
    {{!-- {{#each reply}} --}}
        <div class="reply" id="{{this.replyId}}">
            <a href="/profile/x">
                <img class="reply-image" src="https://randomuser.me/api/portraits/med/men/2.jpg">
            </a>
            <div class="reply-body">
                <p>This usually happens for mac osx. Try deleting the init file, this seemed to work for me.</p>
            </div>
        </div>
    {{!-- {{/each}} --}}
    <div id="comment-container">
        <form method="GET" action="/searchResult">
            <input id="comment-box" type="text" placeholder="Add your reply here...">
            <button id="comment-button" type="submit">comment</button>
        </form>
    </div>
</div>
