{{#each reply}}
    <div class="reply" id="reply-{{this.replyId}}">
        <a href="/profile/{{this.userId}}">
            <img class="reply-image" src="{{this.imageURL}}">
        </a>
        <div class="reply-body">
            <p>{{this.body}}</p>
        </div>
    </div>
{{/each}}