<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ pageTitle }}</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" >
    
    {{#if searchResultCSS}}
        <link href='/css/searchResultView.css' rel='stylesheet' />
        <link href='/css/navbar.css' rel='stylesheet' />
        <link href='/css/post.css' rel='stylesheet' />
        <link href='/css/reply.css' rel='stylesheet' />
    {{/if}}
    {{#if homeCSS}}
        <link href='/css/home.css' rel='stylesheet' />
        <link href='/css/profileSummary.css' rel='stylesheet' />
        <link href='/css/navbar.css' rel='stylesheet' />
        <link href='/css/post.css' rel='stylesheet' />
        <link href='/css/reply.css' rel='stylesheet' />
    {{/if}}
    {{#if loginCSS}}
        <link href='/css/login.css' rel='stylesheet' />
    {{/if}}
    {{#if registerCSS}}
        <link href='/css/register.css' rel='stylesheet' />
    {{/if}}
    {{#if sendmsgCSS}}
        <link href='/css/sendmsg.css' rel='stylesheet' />
    {{/if}}
	{{#if PostsCSS}}
		<link href='/css/navbar.css' rel='stylesheet' />
        <link href='/css/post.css' rel='stylesheet' />
		<link href='/css/reply.css' rel='stylesheet' />
	{{/if}}
	{{#if ProfileCSS}}
        <link href='/css/profile.css' rel='stylesheet' />
		<link href='/css/navbar.css' rel='stylesheet' />
        <link href='/css/post.css' rel='stylesheet' />
		<link href='/css/reply.css' rel='stylesheet' />
	{{/if}}
    <!--
    {{#if peopleCSS}}
        <link href='/css/people.css' rel='stylesheet' />
    {{/if}}
    {{#if formsCSS}}
        <link href='/css/forms.css' rel='stylesheet' />
    {{/if}} -->
	
</head>
<body>
    {{{ body }}}
</body>
</html>