{{>navbarPartial}}
<div id="all-posts-container">
    <div id="profile-summary-container">
        {{>profileSummaryPartial}}
    </div>
    <div id="post-container">
        <h2>All Posts</h2>
        {{>postPartial}}
    </div>
</div>

