<div>
    {{>navbarPartial}}
</div>
<div id="home-container">
    <div id="profile-summary-container">
        {{>profileSummaryPartial}}
    </div>
    <div>
        {{>postPartial}}
    </div>
</div>

