<section class="login">
	<section class="login-header">
		<img src="/assets/knowledgeBase.png" class="kb-logo"/>
		<form action="/login" method="POST" align="right" id="login-login-form">
			<input type="text" name="email" placeholder="email" class="login-headerinput" />
			<input type="password" name="password" placeholder="password" class="login-headerinput" />
			<button type="submit" id="login-login-btn">login</button>
		</form>
	</section>
	<section class="login-body">
		<section id="login-img-section">
			<img src="/assets/books.jpg" id="login-book-img" />
		</section>
		<section id="login-input">
			<section id="login-flavor-text">
				<h2>Join the worlds largest community for knowledge sharing</h2>
			</section>
			<section id="login-form">
				<form action="/signup" method="POST">
					<section>
						<input type="text" name="firstname" placeholder="firstname" class="login-smallinput" />
						<input type="text"name="lastname"  placeholder="lastname" class="login-smallinput" />
					</section>
					<input type="email" name="email" placeholder="email" class="login-largeinput" />
					<input type="password" name="password" placeholder="password" class="login-largeinput" />
					<input type="password" name="confirm_password" placeholder="confirm password" class="login-largeinput" />
					<button type="submit" id="login-signup-btn">signU=up</button>
				</form>
			</section>
		</section>
	</section>
</section>
