<div>
    {{>navbarPartial}}
</div>
<div id="main_container">
	<div id="img_container">
		<img id="prof_img" src="https://randomuser.me/api/portraits/women/31.jpg">
	</div>
	<div id="input_container">
		<form id="msg_form" action="/message/create" method="POST">
			<input id="subject_field" name="subject" type="text" placeholder="subject" />
			<textarea id="msg_field" name="msg" placeholder="message details ...."></textarea>
			<button id="msg_btn" type="submit">Message</button>
		</form>
	</div>
</div>

<!-- 

PostGresSQL

select NOW();
2020-03-22 20:42:30

SELECT to_char(now()::timestamp, 'Mon DD, YYYY HH:MI PM');
Mar 22, 2020 08:54 PM

Month
March

 -->