#inbox_container {
	border: 10px solid red;
	display: flex;
	position:fixed; 
	top: 85px; 
	left: 30px; 
	bottom: 30px; 
	right: 30px;
}

#left_column {
	border-right: 5px solid blue;
	min-width: 350px;
	max-width: 350px;
	overflow: scroll;
	margin-right: 15px;
}

#conversations_list {
	border: 5px solid lightblue;
}

.convo_container {
	border: 3px solid orange;
	display: flex;
	padding: 10px;
}

.convo_img {
	border-radius: 50%;
    border-style: double;
    border-color: lightgrey;
    max-block-size: 85px;
    margin-right: 12px;
}

.convo_text_div {
	width: 100%;
	margin: 5px 5px 0px 0px;
}

.convo_header {
	display: flex;
	flex-direction: row;
	margin-bottom: 3px;
}

.convo_name {
	flex: 2;
}

.convo_date {
	flex: 1;
	margin-left: 3px;
	text-align: right;
}

.convo_subject {

}

#right_column {
	border-left: 5px solid green;
	width: 100%;
	display: flex;
	flex-direction: column;
	min-width: 350px;
}

#msgs_list {
	border: 3px solid yellow;
	overflow: auto;
	flex: 3;
}

.msg_container {
}

fieldset {
	border-left:0px;
    border-right:0px;
    border-bottom:0px;
    margin: 25px 0px 25px 0px;
}

legend {
	margin: 0 auto;
}

.msg_description {
	display: flex;
	margin: 25px 0px 0px 0px;
}

.msg_img {
	border-radius: 50%;
    border-style: double;
    border-color: lightgrey;
    max-block-size: 50px;
}

.msg_text_div {
	margin: 3px 0px 0px 10px;
}

.msg_header {
	display: flex;
	flex-direction: row;
	margin-bottom: 5px;
}

.msg_name {

}

.dot_divider {
	margin: 0px 5px 0px 5px;
}

.msg_date {
}

.msg_text {
}

#input_area {
	border: 2px solid orange;
	flex: 1;
}

#input_field {

}

#msg_form {

}

#btn_div {

}

#send_btn {

}